<style>
    .cool {        
        background: #007a99; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#007a99, #00b8e6, #66e0ff); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(#007a99, #00b8e6, #66e0ff); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(#007a99, #00b8e6, #66e0ff); /* For Firefox 3.6 to 15 */
        background: linear-gradient(#007a99, #00b8e6, #66e0ff); /* Standard syntax */
        color: whitesmoke;
    }
</style>

<div class="container">
    <div class="jumbotron cool">
        <h1>Welcome to the home page. Use top links for navigation.
            <br>
            Save on!
        </h1>
    </div>
</div>