<style>
    .cool {        
        background: chartreuse; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(chartreuse, #1aff1a, #40ff00); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(chartreuse, #1aff1a, #40ff00); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(chartreuse, #1aff1a, #40ff00); /* For Firefox 3.6 to 15 */
        background: linear-gradient(chartreuse, #1aff1a, #40ff00); /* Standard syntax */
        color: whitesmoke;
    }
</style>

<div class="container">
    <div class="jumbotron cool">
        <h1>Welcome to the home page. Use top links for navigation.
            <br>
            Save on!
        </h1>
    </div>
</div>