<div class="alert alert-success alert-dismissable" ng-show="success">
    <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
    <strong>Successfully submitted income!</strong>
</div>
<form autocomplete="on">
    <div class="container-fluid">
        <div class="form-group">
            <label>Enter income: <input type="number" class="form-control" ng-model="income" min="0" span="any" required autofocus></label>
        </div> 
        <div class="form-group">
            <label>Enter date: <input type="date" class="form-control" ng-model="date" required></label>
        </div>

        <div class="form-group">
            <label>Income Category: 
                <select class="form-control" ng-model="category" required>
                    <option value="Job">Job</option>
                    <option value="Hustling">Hustling</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>Description: <input type="text" class="form-control" ng-model="desc" required></label>
        </div>
        <input type="button" value="Submit" ng-click="submit()" class="btn-primary">
    </div>    
</form>