<div class="panel-group">
    <form class="form-inline">
        <div class="form-group">
            <label>Select expenses from: <input type="date" ng-model="fromDate" class="form-control" required></label>
        </div>
        <div class="form-group">
                <label>Select expenses to: <input type="date" ng-model="toDate" class="form-control" required></label>
        </div>
        <input type="button" value="Search" class="btn btn-primary" ng-click="search()">
        <input type="button" value="Search All" class="btn btn-primary" ng-click="searchAll()">
    </form>
    <div class="panel panel-info" ng-repeat="doc in expenses">
        <div class="panel-body" >
            <b>Expense:</b> ${{doc.expense}} || <b>Date:</b> {{doc.date | dateFilter}} || <b>Category:</b> {{doc.category}} || <b>Description:</b> {{doc.desc}}
        </div>
    </div>
</div>