<form class="form-inline">
    <div class="form-group">
        <label>Select incomes from: <input type="date" ng-model="fromDate" class="form-control" required></label>
    </div>
    <div class="form-group">
            <label>Select incomes to: <input type="date" ng-model="toDate" class="form-control" required></label>
    </div>
    <input type="button" value="Search" class="btn btn-primary" ng-click="search()">
    <input type="button" value="Search All" class="btn btn-primary" ng-click="searchAll()">
    <input type="button" value="Mass Delete" class="btn btn-danger" ng-click="massDelete()">    
    <input type="button" value="Delete All" class="btn btn-danger" ng-click="deleteAll()">
</form>
<div class="panel-group">
    <div class="panel panel-info" ng-repeat="doc in incomes">
        <div class="panel-body">
            <form class="form-inline">
                <div class="form-group"><label>Income: $</label><input type="number" ng-model="doc.income" id="income{{$index}}" readonly="true" step="any"></div>
                <div class="form-group"><label>Date: </label><input type="text" ng-model="doc.date" ng-value="doc.date | isoFilter" id="date{{$index}}" readonly="false"></div> <!--cant made ng-model="doc.date"-->
                <div class="form-group"><label>Category: </label>
                    <select ng-model="doc.category" id="category{{$index}}" disabled>
                        <option value="Job">Job</option>
                        <option value="Hustling">Hustling</option>        
                    </select>
                </div>
                <div class="form-group"><label>Description: </label><input type="text" ng-model="doc.desc" id="desc{{$index}}" readonly></div>  
                <input type="checkbox" id="massDelete{{$index}}" style="float:right;" data-toggle="tooltip" title="Check to mass delete income forms&#013Once checked, use Mass Delete button">                
                <div class="btn-group btn-group-xs" style="float:right;">
                    <button id="edit{{$index}}" ng-click="edit($index)" class="btn btn-info">Edit</button>   
                    <button id="submit{{$index}}" ng-click="submit($index, doc._id)" class="btn btn-success" disabled>Submit</button>
                    <button ng-click="delete(doc._id)" class="btn btn-danger">Delete</button>
                </div>
            </form>            
        </div>
    </div>
</div>